<footer class='c-footer'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--1-4'>
      <h3 class='c-footer__heading'>Aspire</h3>
      <ul class='o-plain-list c-footer-list'>
        <li class='c-footer-list__item'>
          <a href='/about' class='c-footer-list__link'>About</a>
        </li>
        <li class='c-footer-list__item'>
          <a href='/blog' class='c-footer-list__link'>Blog</a>
        </li>
        <li class='c-footer-list__item'>
          <a href='/themes' class='c-footer-list__link'>Themes</a>
        </li>
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--1-4'>
      <h3 class='c-footer__heading'>Connect</h3>
      <ul class='o-plain-list c-footer-list'>
        <li class='c-footer-list__item'>
          <a href='{{ site.twitter }}' target='_blank' class='c-footer-list__link'>Twitter</a>
        </li>
        <li class='c-footer-list__item'>
          <a href='{{ site.medium }}' target='_blank' class='c-footer-list__link'>Medium</a>
        </li>
        <li class='c-footer-list__item'>
          <a href='{{ site.dribbble }}' target='_blank' class='c-footer-list__link'>Dribbble</a>
        </li>
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--1-4'>
      <h3 class='c-footer__heading'>Resources</h3>
      <ul class='o-plain-list c-footer-list'>
        <li class='c-footer-list__item'>
          <a href='/docs' class='c-footer-list__link'>Documentation</a>
        </li>
        <li class='c-footer-list__item'>
          <a href='{{ site.themeforest }}' target='_blank' class='c-footer-list__link'>ThemeForest</a>
        </li>
        <li class='c-footer-list__item'>
          <a href='{{ site.creative_market }}' target='_blank' class='c-footer-list__link'>Creative Market</a>
        </li>
      </ul>
    </div>

    <div class='ef o-grid__col o-grid__col--1-4'>
      <h3 class='c-footer__heading'>Newsletter</h3>
      <form action='//aspirethemes.us12.list-manage.com/subscribe/post?u=9723f3c5c3a2637fbba3bc673&amp;id=7b50db9989' method='post' target='_blank'>
        <input type='email' name='EMAIL' class="c-input" placeholder='Enter Your Email'>
      </form>
    </div>

    <div class='o-grid__col'>
      <small class="c-footer__copy">&copy; {{ site.time | date: '%Y' }} {{ site.title }}</small>
    </div>

  </div>
</footer>