<header class='c-header' role='banner'>
  <div class='o-grid'>

    <div class='o-grid__col o-grid__col--1-4'>
      <a class="c-header__logo" href='/' title="Go to Aspire Themes homepage">{{ site.title }}</a>
    </div>

    <label class='js-off-canvas-toggle c-off-canvas-toggle' aria-label='Toggle navigation'>
      <span data-icon='ei-navicon' data-size='s' class="c-off-canvas-toggle__icon"></span>
    </label>

    <div class='o-grid__col o-grid__col--2-4'>
      <ul class='o-plain-list c-site-nav c-off-canvas-content' role='navigation'>
        <li class='c-site-nav__item'><a class='c-site-nav__link' href='/about'>About</a></li>
        <li class='c-site-nav__item'><a class='c-site-nav__link' href='/themes'>Themes</a></li>
        <li class='c-site-nav__item'><a class='c-site-nav__link' href='/docs'>Documentation</a></li>
        <li class='c-site-nav__item'><a class='c-site-nav__link' href='/blog'>Blog</a></li>
      </ul>
    </div>

    <div class='o-grid__col o-grid__col--1-4'>
      <ul class='o-plain-list c-social-nav'>
        <li class='c-social-nav__item'>
          <a href='{{ site.twitter }}' target='_blank'>
            <span class='c-social-nav__icon' data-icon='ei-sc-twitter' data-size='s'></span>
          </a>
        </li>
        <li class='c-social-nav__item'>
          <a href='{{ site.facebook }}' target='_blank'>
            <span class='c-social-nav__icon' data-icon='ei-sc-facebook' data-size='s'></span>
          </a>
        </li>
        <li class='c-social-nav__item'>
          <a href='{{ site.github }}' target='_blank'>
            <span class='c-social-nav__icon' data-icon='ei-sc-github' data-size='s'></span>
          </a>
        </li>
        <li class='c-social-nav__item'>
          <a href='{{ site.mailto }}' target='_blank'>
            <span class='c-social-nav__icon' data-icon='ei-envelope' data-size='s'></span>
          </a>
        </li>
      </ul>
    </div>

  </div>
</header>