<div class='o-grid'>
  <div class='o-grid__col'>
    <h5 class='c-heading'>
      <span class='c-heading__title'>What my happy customers are saying</span>
    </h5>
  </div>
</div>

<div class='o-grid'>
  {% for testimonial in site.data.testimonials %}
    <div class='o-grid__col o-grid__col--2-4'>
      <div class='c-testimonial'>
        <p class='c-testimonial__text'>{{ testimonial.testimonial }}</p>
        <p class='c-testimonial__author'>{{ testimonial.author }}</p>
      </div>
    </div>
  {% endfor %}
</div>