---
layout: default
---

<div class='c-theme-hero'>
  <div class='o-grid c-theme-hero__content'>

    <div class='o-grid__col o-grid__col--2-4'>
      <div class='c-theme-hero__info'>

        <h2 class='c-theme-hero__title'>{{ page.title }}</h2>
        <p class='c-theme-hero__description font-medium'>{{ page.description }}</p>

        <div class='o-grid'>
          <div class='o-grid__col o-grid__col--2-4'>
            <a class='c-btn c-btn--primary c-btn--full' href='{{ page.purchase }}' target='_blank'>
              {% if page.price %}
                Buy Theme ${{ page.price }}
              {% else %}
                Free Download
              {% endif %}
            </a>
          </div>
          <div class='o-grid__col o-grid__col--2-4'>
            <a class='c-btn c-btn--secondary c-btn--full' href='{{ page.demo }}' target='_blank'>Live Demo</a>
          </div>
        </div>

      </div>
    </div>

    <div class='o-grid__col o-grid__col--2-4'>
      <div class='js-fadein c-theme-hero__image' style='background-image: url(/{{ page.thumbnail }})'></div>
    </div>

  </div> <!-- o-grid -->
</div> <!-- c-theme-hero -->

<div class='o-grid'>
  <div class='o-grid__col o-grid__col--3-4'>
    <div class='c-content'>
      {{ content }}
    </div>
  </div>

  <div class='o-grid__col o-grid__col--1-4'>
    <ul class="o-plain-list c-theme-features">
      {% for feature in page.features %}
        <li class="c-theme-features__item">{{feature}}</li>
      {% endfor %}
      {% if page.docs %}
        <li class="c-theme-features__item">
          <a href='{{ page.docs }}' target='_blank'>Documentation <span data-icon='ei-external-link' data-size='s' class="c-theme-features__icon"></span></a>
        </li>
      {% endif %}
    </ul>

    <hr>

    <a class='c-btn c-btn--secondary c-btn--full' href='{{ site.mailto }}' target='_blank'>Contact For Help</a>

    <hr>

    <a class='c-btn c-btn--secondary c-btn--full' href='/customization' target='_blank'>Need Custom Services?</a>

  </div>
</div>

{% include testimonials.html %}